/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.body {
    background-color: #F0F7F7;
}

nav {
    background-color: white;
    background-attachment: fixed;
    border-bottom: 1px solid #E4ECEC;
}

nav .container a img {
    margin-top:-10px;
    margin-right:5px;
}

    nav .container .navbar-brand {
        color: #347A90;
        font-weight: 800;
        font-family: cursive;
        font-style: italic;
    }

    nav .container .navbar-brand span {
        font-size:28px;
    }

    nav .nav-item:hover {
        color: #333636;
        font-weight: 700;
    }    
    
    nav .nav-item {
        margin-left:14px;
    }

.active-item {
    border-bottom: 2px solid #868A8A;
    color: #333636;
    font-weight: 700;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .body-content {
        padding: 0;
    }
}


ul{
    list-style-type:none;
    overflow:hidden;
}

    ul li a {
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #868A8A;
        text-decoration-color: unset;
        font-weight: 400;
        font-size: 12px;
    }

    ul li i {
        color: #66938E;
    }

    ul li a:hover {
        color: #66938E;
    }

.active,
.active a,
.active i{
    color: #66938E;
    font-weight: 750;
    font-size: 16px;
}

.me-2 {
    position:relative;
    top:-3px;
}

.col-md-9,
.col-md-2 {
    background-color: white;
    border: 1px solid #E4ECEC;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #E4ECEC;
}

.menuactive i,
.menuactive span{
    color: #66938E;
    font-size: 20px;
    font-weight: 800;
}

h5 i,
h5 span {
    color: #767B7B;
}

.col-md-4 label{
    color: #569999;
    font-weight:600;
    font-style:oblique;
}

.col-md-4 h4,
.container h4 {
    color: #66938E;
    font-weight:700;
    font-style:oblique;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.container .input-group{
/*    position:relative;
    right:-70%;*/
}

.form-commande {
    margin-bottom:20px;
}

.Update a i {
    color: #66938E;
}

.Delete a i {
    color:red;
}