/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    flex:1;
}

.body {
    background-color: #F0F7F7;
}

body, html{
    margin:0;
    padding:0;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}



nav{
    background-color: white;
    border-bottom: 1px solid #E4ECEC;
    position:fixed;
}

nav .container a img {
    margin-top:-10px;
    margin-right:5px;
}

    nav .container .navbar-brand {
        color: #347A90;
        font-weight: 800;
        font-family: cursive;
        font-style: italic;
    }

    nav .container .navbar-brand span {
        font-size:28px;
    }

    nav .nav-item:hover {
        color: #333636;
        font-weight: 700;
    }    
    
    nav .nav-item {
        margin-left:14px;
    }

.active-item {
    border-bottom: 2px solid #868A8A;
    color: #333636;
    font-weight: 700;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
    .body-content {
        padding: 0;
    }

    h5 i,
    h5 span {
        color: white;
    }
}

@media screen and (max-width:992px) {
    h5 span,
    .menuactive span {
        font-size: 12px;
        font-weight: 800;
    }
}

ul{
    list-style-type:none;
    overflow:hidden;
}

    ul li a {
        text-decoration: none;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #868A8A;
        text-decoration-color: unset;
        font-weight: 400;
        font-size: 12px;
    }

    ul li i {
        color: #66938E;
    }

    ul li a:hover {
        color: #66938E;
    }

.active,
.active a,
.active i{
    color: #66938E;
    font-weight: 750;
    font-size: 16px;
}

.col-md-9,
.col-md-2 {
    background-color: white;
    border: 1px solid #E4ECEC;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #E4ECEC;
}

.col-10 {
    background-color: white;
    border: 0.5px solid #E4ECEC;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #E4ECEC;
}

.menuactive i,
.menuactive span{
    color: #66938E;
    font-size: 20px;
    font-weight: 800;
}

h5 i,
h5 span {
    color: #767B7B;
}

.col-md-4 label{
    color: #569999;
    font-weight:600;
    font-style:oblique;
}

.col-md-4 h4,
.container h4 {
    color: #66938E;
    font-weight:700;
    font-style:oblique;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.form-commande {
    margin-bottom:20px;
}

/*action*/
.Update a i {
    color: #66938E;
}

.Delete a i {
    color:red;
}

/*Footer*/
footer {
    padding-top: 60px;
    height: 200px;
    background-color: #868A8A;
    text-align: center;
}

footer p {
   color: whitesmoke;
}

footer span a i {
    font-size: 28px;
    color: white;
}

footer span a .bi-envelope:hover {
    color: #E34620;
}

footer span a .bi-linkedin:hover {
    color: #0D60B0;
}

footer span a .bi-facebook:hover {
    color: #0D60B0;
}

footer span a .bi-whatsapp:hover {
    color: green;
}